:root {
    --myGreen: rgb(0, 255, 171);
    --myBlack: #282828;
    --myGrey: #353535;
}

* {
    font-family: 'Alexandria', sans-serif;
}

html {
    background-color: #0038ff;
    background-image: linear-gradient(0deg, #000071 0%, #0038ff 100%);
    background-size: 100vw 100vh;
    background-attachment: fixed;
}

body {
    padding: 50px;
    padding-top: 75px;
    background-color: rgba(0, 0, 0, 0) !important;
}

#search-button {
    color: white;
}

#search-input {
    font-weight: 300;
    border: 0px;
    min-width: 250px;
    padding-left: 15px;
}

.input-group {
    min-width: 300px;
}

#searchAndHistory {
    display: flex;
    overflow: hidden;
}

.history {
    font-size: 25px;
    font-weight: lighter;
    padding-right: 15px;
    padding-left: 15px;
    cursor: pointer;
    color: white;
    opacity: 50%;
}

.history:hover {
    opacity: 100%;
}

#currentLocation {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
}

#currentLocationName {
    font-size: 75px;
    color: white;
}

#currentDateAndTime {
    min-width: 235px;
    font-size: 30px;
    font-weight: lighter;
    position: relative;
    top: 49px;
    margin-left: 10px;
    color: white;
}

#currentWeather {
    position: relative;
    top: -20px;
    display: flex;
    flex-direction: row;
    align-content: center;
    color: white;
}

.icon {
    height: 200px;
}

#currentTemperature {
    font-size: 130px;
    margin-left: 10px;
    color: white;
}

#humidityWindContainer {
    overflow: hidden;
    min-width: 275px;
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 23px;
    font-weight: lighter;
    line-height: 30px;
    justify-content: center;
    color: white;
}

#forecastRow {
    display: flex;
    justify-content: space-between;
}

.forecastBox {
    min-width: 150px;
    margin-top: 10px;
    width: 20vw;
    border-radius: 15px;
    background-color: #000071;
    color: white;
    font-size: 1vw;
    font-weight: lighter;
    padding: 20px;
    line-height: 20px;
}

.forecastDate {
    font-weight: bold;
    font-size: 1.25vw;
    padding-bottom: 5px;
}

.forecastBox:not(:first-child) {
    margin-left: 2vw;
}

.forecastIcon {
    height: 50px;
    padding-right: 5px;
    padding-bottom: 5px;
}

.forecastIconTemp {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    font-size: 35px;
    align-items: center;
}

@media (max-width: 1150px) {
    .forecastBox {
        font-size: 10.5px;
    }
    .forecastDate {
        font-size: 11.5px;
    }
}

@media (max-width: 900px) {
    #forecastRow {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .forecastBox {
        font-size: 15px;
        width: 100%;
    }
    .forecastBox:not(:first-child) {
        margin-left: 0vw;
    }
}

@media (max-width: 576px) {
    html {
        background-color: #0038ff;
        background-image: none;
    }
    body {
        padding: 25px;
        padding-top: 20px;
    }
    .input-group {
        justify-content: center;
        padding-left: 40px;
        padding-bottom: 10px;
    }
    #searchAndHistory {
        display: flex;
        flex-direction: column;
    }
    .history {
        font-size: 25px;
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
        line-height: 30px;
    }
    #history4,
    #history5,
    #history6,
    #history7 {
        display: none;
    }
    #currentLocation {
        padding-top: 10px;
    }
    #currentLocationName {
        font-size: 50px;
    }
    #currentDateAndTime {
        font-size: 15px;
        top: 38px;
    }
    .icon {
        height: 100px;
    }
    #currentTemperature {
        font-size: 75px;
    }
    #humidityWindContainer {
        margin-top: 15px;
        font-size: 17px;
        line-height: 20px;
    }
}